//should the above connect to mirror?
#container
    %h1#heading
        Welcome, Iris

:coffeescript
    $ ->
        
            
        panorama = new (PANOLENS.ImagePanorama)('/cur.png')
    
        infospot = new (PANOLENS.Infospot)(500, PANOLENS.DataImage.Info)
        infospot.position.set 0, -1000, -4000
        infospot.addHoverText 'Control me with your Wand', 50
        infospot.focus(3000)
    
        panorama.add infospot
        
        viewer = new (PANOLENS.Viewer)(container: container)
        viewer.add panorama
    
        renderer = new (THREE.WebGLRenderer)
        renderer.setClearColor 0xffffff
        idleBG = ->
      colors = []
      i = 0
      while i < 3
        colors[i] = Math.floor(Math.random() * 255)
        i++
      colors
    
    #Event handlers
    $('li').on 'click', ->
      picString = $(this).data('picture')
      $('body').css 'background-image', 'url(' + picString + ')'
      $('header').addClass 'hidden'
      $('.menu').removeClass 'opened'
      return
    $('li').mouseenter ->
      $(this).addClass 'opaque'
      return
    $('li').on 'mouseleave', ->
      $(this).removeClass 'opaque'
      return
    $('.menu').on 'click', ->
      $('header').toggleClass 'hidden'
      $(this).toggleClass 'opened'
      return
    $ ->
      picCount = $('li').length
      totalWidth = $(window).width()
      iconWidth = totalWidth / picCount - (35 * picCount)
      $('nav li').css 'width', iconWidth + 'px'
      return
    $ ->
      $(window).resize ->
        picCount = $('li').length
        totalWidth = $(window).width()
        iconWidth = totalWidth / picCount - (35 * picCount)
        $('nav li').css 'width', iconWidth + 'px'
        return
      return
    $ ->
      $(document).on 'mousemove', (event) ->
        if $('header').hasClass('hidden')
          shift = event.pageX * 1.6
          $('body').css 'background-position', -shift
        return
        
:scss
    $bg: desaturate(green, 20%);
    html, body{ overflow: none;}
    #wand{
        
        height: 100%;
        width: 100%;
        overflow: none;
        color: white;
        font-family: Arial, sans-serif;
        font-size: 4em;
        text-align: center;
            
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #heading {
        text-shadow: -2px 0 black, 0 2px black, 2px 0 #929090, 0 -2px #929090;
        position: absolute;
        top: 200px;
        left: 470px;
        text-align: center;
        font-size: 150%;
        color: white;
        font-family: Arial, sans-serif;
        font-size: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #container {
        height: 100%;
        width: 100%;
    }
