%img.gameBG{src: "/clickdummy/w5-0.jpg", width: "100%"}

:coffeescript
  $ ->
    bg = $(".gameBG")[0]
    $(document).click (event)->
      if bg.src.includes("w5-0")
        if event.offsetY < $(document).height()/2
          console.log "Click upper half"
          if event.offsetX < $(document).width()/2
            console.log "Click upper half left"
            bg.src = "/clickdummy/w5-m2.jpg"
          else
            console.log "Click upper half right"
            bg.src = "/clickdummy/w5-m1.jpg"
        else
          console.log "Click lower half"
          window.location.href = "play_turn"
      else
        bg.src = "/clickdummy/w5-0.jpg"