!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body{:style => "background-color: #00C873;"}
    %h1 Welcome, enter how many users are playing.
