!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "//fonts.googleapis.com/css?family=Pirata+One", :rel=> "stylesheet", :type => "text/css"}/


 

:scss
    
    body {
      margin: 0;
      padding: 0;
      background-image: url("/assets/back2.png");
      background-position: 0px -30px;
      color: white;
      font-family: 'PT Sans', sans-serif;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      top: -30px;
    }
  