!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "//fonts.googleapis.com/css?family=Pirata+One", :rel=> "stylesheet", :type => "text/css"}/
  
  %h3 ..
  %h5#suggestion.pirata Please hand your phone to the player the question involves.
  %h3#question.pirata Question here
.row#fit
  .small-6.columns
    %button#btn_continue.butt Correct
  .small-6.columns
    %button#btn_end.butt Incorrect

    
:scss
    body {
        margin: 0;
        padding: 0;
        background-image: url("/assets/back2.png");
        background-position: 0px -30px;
        color: white;
        font-family: 'PT Sans', sans-serif;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: -30px;
    }
    
    #fit {
        width: 290px;
    }
    .pirata {
        font-family: 'Pirata One';
        width: 260px;
        margin: 0 auto;
    }
    
    #question {
        margin-top: 15vh;
    }
    
    #suggestion {
        margin-top: 22vh;
        color: #553333;
    }
    .butt {
        // opacity: 0;
        display: inline-block;
        padding: 15px 18px;
        margin-top: 40px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: transparent;
        background-color: rgba(84, 158, 72, .85);
        border: none;
        border-radius: 15px;
        box-shadow: -3px 9px rgba(0, 0, 0, 0.5);
        
      
        font-family: 'Tangerine', serif;
        
        color: white;
        
        text-shadow: -2px 3px 0 #a86526, 0 0px #929090, 2px 0 #a86526, 0 0px #929090;
        text-decoration: none;
        letter-spacing: 3px;
        transition: all 0.3s ease-out;

        
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: #a86526;
        
        font-weight: 580;
        border: 10px solid rgba(112, 104, 99, .7);
        &:hover {
          background-color: rgba(76, 96, 80, .6);
          transition: 0.25s ease-in-out;
          -webkit-transform: translate(-3px, 8px); /* Safari */
          transform: translate(-3px, 8px);
        }
      }

:coffeescript
    
    question1 = "What is the favorite color of the player in turn after you?"
    question2 = "What is the favorite band of the player in turn before you?"
    question3 = "Which does the youngest player prefer: dogs or cats?"
    question4 = "Is the tallest player a morning or a night person?"
    question5 = "What was the funniest moment in life of the player who started the game?"
    questions = [question1, question2, question3, question4, question5]
    
    thisID = 0
    $ ->
        console.log "WEBSOCKET SET-UP"
        
        socket = new WebSocket('wss://irisyon-finalproj-irisyon.c9users.io:8081')
        
        socket.onopen = ->
            console.log "Connection opened"
            socket.send("Ping")
            return
        socket.onerror = (error) ->
            console.log "WebSocket Error " + error
            return
        socket.send2 = (iClient, iReceiver, iMove, iText) ->
            communication =
                senderID: iClient
                receiverID: iReceiver
                move: iMove     
                    # Idea: Type of message
                    # Options: message, turn_start, turn_end, kingdom_scan, ?
                text: iText     
                    # Idea: Content of message
                    # Options: Text as string, for kingdom_scan it would be the image data
            socket.send JSON.stringify(communication)
            console.log "Sent: " + JSON.stringify(communication)
            return

        socket.onmessage = (e) ->
            console.log "Received: " + e.data
            if e.data.includes("deviceID") and thisID == 0
                communication = JSON.parse(e.data)
                thisID = communication.deviceID
                console.log "New device has received ID: " + thisID
            else if e.data.includes("senderID")
                communication = JSON.parse(e.data)
                console.log "Message from " + communication.senderID
                if communication.senderID == "server"
                    console.log communication.receiverID + " " + thisID
                    if communication.move == "id_check"
                        socket.send2(thisID, "server", "id_check", thisID)
                    if communication.move == "id_keep" and communication.receiverID == thisID
                        thisID = communication.text
                        console.log "Reassigned old ID: " + thisID
                    if communication.move == "ping"
                        socket.send2(thisID, "server", "ping")
        
        $("#question").html(questions[Math.floor(Math.random()*questions.length)])
        
        $("#btn_continue").click ->
            window.location.href = "/game/board"
        
        $("#btn_end").click ->
            socket.send2(thisID, "server", "turn_end", "")
            window.location.href = "/game/treasure_map"