%h2#text_turn It's not your turn
%button#btn_turn Enter Kingdom
#container

#panel

!!!
%html
    %head
        %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
        %link{:href => "//fonts.googleapis.com/css?family=Pirata+One", :rel=> "stylesheet", :type => "text/css"}/
    


:css
    html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
    }

    }
    #container {
        width: 100%;
        height: 100%;

    }
        
    #panel {
        width: 320px;
        height: 240px;
        background-color: #fff;
        z-index: -1;

    }
    
    #btn_turn{
        color: black
    }
    #text_turn{
        color: black
    }



     
      
:coffeescript

    container = document.querySelector('#container')
    panel = document.querySelector('#panel')
    panorama = new (PANOLENS.ImagePanorama)('/assets/back.png')
    
    infospot = new (PANOLENS.Infospot)(350, PANOLENS.DataImage.Info)
    infospot.position.set 0, -2000, -5000
    infospot.addHoverElement panel, 150
    panorama.add infospot
    
    viewer = new (PANOLENS.Viewer)(container: container)
    viewer.add panorama
    renderer = undefined

    renderer = new (THREE.WebGLRenderer)
    renderer.setClearColor 0xffffff
    renderer.setSize panel.clientWidth, panel.clientHeight
    camera = new (THREE.PerspectiveCamera)(45, panel.clientWidth / panel.clientHeight, 1, 2000)
    scene = new (THREE.Scene)
    console.log infospot.element
    
    infospot.element.appendChild renderer.domElement
    box = new (THREE.Mesh)(new (THREE.BoxGeometry)(10, 10, 10), new (THREE.MeshNormalMaterial))
    box.position.z = -20
    scene.add box
    viewer.addUpdateCallback ->
        renderer.render scene, camera
        box.rotation.y += 0.03
        return

    thisID = 0
    turn_active = false
    $ ->
        $("#text_turn").html("It's not your turn!")
        
        console.log "WEBSOCKET SET-UP"
        
        socket = new WebSocket('wss://finalproject-wiesn.c9users.io:8081')
        
        socket.onopen = ->
            console.log "Connection opened"
            socket.send("Ping")
            return
        socket.onerror = (error) ->
            console.log "WebSocket Error " + error
            return
        socket.send2 = (iClient, iReceiver, iMove, iText) ->
            communication =
                senderID: iClient
                receiverID: iReceiver
                move: iMove     
                    # Idea: Type of message
                    # Options: message, turn_start, turn_end, kingdom_scan, ?
                text: iText     
                    # Idea: Content of message
                    # Options: Text as string, for kingdom_scan it would be the image data
            socket.send JSON.stringify(communication)
            console.log "Sent: " + JSON.stringify(communication)
            return

        socket.onmessage = (e) ->
            console.log "Received: " + e.data
            if e.data.includes("deviceID") and thisID == 0
                communication = JSON.parse(e.data)
                thisID = communication.deviceID
                console.log "New device has received ID: " + thisID
            else if e.data.includes("senderID")
                communication = JSON.parse(e.data)
                console.log "Message from " + communication.senderID
                if communication.senderID == "server"
                    console.log communication.receiverID + " " + thisID
                    if communication.move == "id_check"
                        socket.send2(thisID, "server", "id_check", thisID)
                    if communication.move == "id_keep" and communication.receiverID == thisID
                        thisID = communication.text
                        console.log "Reassigned old ID: " + thisID
                    else if communication.move == "turn_start" and communication.receiverID == thisID
                        turn_active = true
                        $("#text_turn").html("It's your turn!")
                        
            return 
            
        $("#btn_turn").click ->
            console.log "Button clicked"
            if turn_active
                window.location.href = "/game/board"