.row.center-content
    %h3.white-text.left-indent Welcome, let's begin color recognition.
.row.center-text.shiftDown
    .center-text.invis
        %input{:accept => "image/*", :type => "file"}/
    .button.wide.moveUp.mip.spotify Scan Kingdom
.row.center-text
    %h7.white-text Make sure to select 'Take Photo'


:css
    body {
        background-color: #00C873;
    }
    .shiftDown {
        margin-top: 100px;
    }
