.row.center-content
    %h3.white-text.left-indent Welcome, let's begin color recognition.
.row.center-content
    .mip
    .imgTest
        %input{:accept => "image/*", :type => "file"}/


:css
    body {
        background-color: #00C873;
    }
