/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 @import "foundation_and_overrides";

 */

.white-text {
    color: white;
}

.center-content {
    margin-top: 10%;
}

.left-indent {
    margin-left: 50px;
}

@font-face {
    font-family: 'mononoki';
    src: url('https://madmalik.github.io/mononoki/fonts/mononoki-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://madmalik.github.io/mononoki/fonts/mononoki-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://madmalik.github.io/mononoki/fonts/mononoki-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('https://madmalik.github.io/mononoki/fonts/mononoki-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

.ace_editor{
    font-family: mononoki!important;
}